
.flexbox {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 10px;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
.velikost{
    font-size: 120%;
}
.images  {
    width:100%;
    white-space: nowrap;
 }


